@import "../../c/common/index";

.lib-about {
	width: 1190px;
	margin: 0 auto;
	padding-top: 80px;
	// font-size: 20px;
	// text-align: center;

	h1 {
		margin: 15px 0;
		font-size: 20px;
	}
	h2 {
		margin: 0 0 10px 10px;
		font-size: 18px;
	}
	.content {
		margin-left: 18px;
		margin-bottom: 25px;
		line-height: 20px;
	}
}